%h3
  Tell us about yourself!

.row
  .col-xs-4
    = form_for applicant do |f|
      = f.text_field :first_name, placeholder: "First Name", class: 'form-control'
      %br
      = f.text_field :last_name, placeholder: "Last Name", class: 'form-control'
      %br
      = f.text_field :email, placeholder: "Email", class: 'form-control'
      %br
      = f.telephone_field :phone, placeholder: "Phone Number", class: 'form-control'
      %br
      = f.select :phone_type, ['Select Phone Type', 'iPhone 6/6 Plus', 'iPhone 6s/6s Plus', 'iPhone 5/5S', 'iPhone 4/4S', 'iPhone 3G/3GS', 'Android 4.0+ (less than 2 years old)', 'Android 2.2/2.3 (over 2 years old)', 'Windows Phone', 'Blackberry', 'Other']
      %br
      = f.select :region, ['Select Region', 'San Francisco Bay Area', 'Chicago', 'Boston', 'NYC', 'Toronto', 'Berlin', 'Delhi']
      %br
      = f.submit
      
